body {
  background-color: rgb(220, 178, 105);
}

h1,
p,
footer {
  text-align: center;
  margin: 30px;
 }

h1 {
  font-size: 48px;
}

img {
  max-width: 500px;
  display: block;
  margin: 30px auto;
  border-radius: 20px;
}

a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

a:hover {
  border: 1px solid rgba(226, 195, 141, 0.499);
  border-radius: 10px;
  background-color:rgba(226, 195, 141, 0.499);
}

.link-footer {
  padding: 10px;
  text-decoration: none;
}
